nav {
    width: 140px;
    height: 25px;
    background-color: black;
}

.link {
    margin-right: 6px;
    text-decoration: none;
    color: aliceblue;
    height: 25px;
}
.link:hover{
    background-color: burlywood;
    color: black;
}

.active {
    background-color: gray;
    color: aliceblue;
}

.target {
    background-color: bisque;
    height: 30px;
    width: 350px;
    margin-bottom: 3px;
}

.target:hover {
    background-color: goldenrod;
}

.text {
    color: gray;
}
.text-decor{
    text-decoration: none; 
}